/bin
**/obj
/*.user
.vs
Archive
GameData/*/LICENSE
GameData/*/NOTICE
GameData/*/README.md
GameData/*/CHANGE_LOG.md
GameData/*/*.version
GameData/*/Plugins*/*.dll
Source/Version.cs
Configuration.cs
999_Scale_Redist.dll
