//			***********************************
//			** Station Parts Expansion Redux **
//			**      TweakScale  Support      **
//			***********************************
//
//		This file is part of TweakScaleCompanion_PKMC
//		© 2020-2023 LisiasT : http://lisias.net <support@lisias.net>
//
//		TweakScaleCompanion_PKMC is double licensed, as follows:
//
//		* SKL 1.0 : https://ksp.lisias.net/SKL-1_0.txt
//		* GPL 2.0 : https://www.gnu.org/licenses/gpl-2.0.txt
//
//		And you are allowed to choose the License that better suit your needs.
//
//		TweakScaleCompanion_PKMC is distributed in the hope that it will be useful,
//		but WITHOUT ANY WARRANTY; without even the implied warranty of
//		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
//
//		You should have received a copy of the SKL Standard License 1.0
//		along with TweakScaleCompanion_PKMC. If not, see <https://ksp.lisias.net/SKL-1_0.txt>.
//
//		You should have received a copy of the GNU General Public License 2.0
//		along with TweakScaleCompanion_PKMC. If not, see <https://www.gnu.org/licenses/>.
//
// ** Station Parts Expansion Redux **
//
// https://forum.kerbalspaceprogram.com/index.php?/topic/170211-*
//
//	https://www.curseforge.com/kerbal/ksp-mods/stockalike-station-parts-expansion-redux
//	https://spacedock.info/mod/1682/Stockalike%20Station%20Parts%20Expansion%20Redux
//	https://github.com/post-kerbin-mining-corporation/StationPartsExpansionRedux/releases


// ** Coupling **

@PART[sspx-docking-125-1]:NEEDS[TweakScale,StationPartsExpansionRedux]:FOR[TweakScaleCompanion_PKMC_SSPX] // Telescopic Clamp-O-Tron Docking Module for SSPX >= 1.0.0
{
	#@TWEAKSCALEBEHAVIOR[Decoupler]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 1.25
	}
}

@PART[sspx-extendable-tube-125-1]:NEEDS[TweakScale,StationPartsExpansionRedux]:FOR[TweakScaleCompanion_PKMC_SSPX] // B-EX-1 Extensible Crew Tube for SSPX >= 1.0.0
{
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 1.25
	}
}

@PART[sspx-extendable-tube-25-1]:NEEDS[TweakScale,StationPartsExpansionRedux]:FOR[TweakScaleCompanion_PKMC_SSPX] // B-EX-2 Extensible Crew Tube for SSPX >= 1.0.0
{
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 1.25
	}
}
