//			*****************************
//			** Near Future Aeronautics **
//			**   TweakScale  Support   **
//			*****************************
//
//		This file is part of TweakScaleCompanion_PKMC
//		© 2020-21 LisiasT : http://lisias.net <support@lisias.net>
//
//		TweakScaleCompanion_PKMC is double licensed, as follows:
//
//		* SKL 1.0 : https://ksp.lisias.net/SKL-1_0.txt
//		* GPL 2.0 : https://www.gnu.org/licenses/gpl-2.0.txt
//
//		And you are allowed to choose the License that better suit your needs.
//
//		TweakScaleCompanion_PKMC is distributed in the hope that it will be useful,
//		but WITHOUT ANY WARRANTY; without even the implied warranty of
//		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
//
//		You should have received a copy of the SKL Standard License 1.0
//		along with TweakScaleCompanion_PKMC. If not, see <https://ksp.lisias.net/SKL-1_0.txt>.
//
//		You should have received a copy of the GNU General Public License 2.0
//		along with TweakScaleCompanion_PKMC. If not, see <https://www.gnu.org/licenses/>.
//
// ** Near Future Technologies :: Aeronautics >= 1.0.0 **
//
// https://forum.kerbalspaceprogram.com/index.php?/topic/155465-*
//
//	https://www.curseforge.com/kerbal/ksp-mods/near-future-aeronautics
//	http://spacedock.info/mod/1957/Near%20Future%20Aeronautics
//	https://github.com/ChrisAdderley/NearFutureAeronautics/releases

// Patches originally by Red Stapler, updated and maintained by Lisias


// ** Control **

@PART[nfa-rcsblister-1]:NEEDS[NearFutureAeronautics,TweakScale]:FOR[TweakScaleCompanion_PKMC_NFA] // ARV-100-8 Heavy RCS Blister
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		type = free
	}
}
